<h1>{{{message}}}</h1>

<h2>Query Params:</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    {{#each parameters}}
    <tr>
      <td>{{@key}}</td>
      <td>{{this}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<h2>Request Body Properties:</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    {{#each body}}
    <tr>
      <td>{{@key}}</td>
      <td>{{this}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>